*{
  margin: 0;
  box-sizing: border-box;
}

.sup{
  top: 15%;
  left: 250%;
}

.input_search{
  display: flex;
  justify-content: center;
  background-color: beige;
}

.input_s{
  border: 1px solid black;
}

.action_btn{
  border-radius: 10px;
  border: none;
  font-size: 20px;
  color: black;
  background-color: orangered;
  opacity: 0.8;
}

.action_btn:hover{
  background-color: red;
}